<body style="background-color: black;">
	<div class="container">
    <br>
    <br>
    <br>
        <h1 class="text-uppercase">THOUGHTSHSS</h1> <!-- to make all letters uppercase -->
        <img src="PHOTU.jpg" width="100" height="100">
        <br>
        
        <div class="dub">
         PHONE NUMBER: <input type="tel" name="phonenumber"><br><br><!--TO INPUT number-->
         PASSWORD: <input type="password" name="password" minlength="5"><br><br><!--for password'password'is used-->
        </div>
        <div class="dum">
        <button class="hi"> LOGIN </button>
	    <button class="re"> RESET </button><br><br>
	    </div>
       
        <h5>IF YOU ARE NEW USER CLICK HERE TO
        <a href="signUp">SIGN UP</a> </h5>
       
        
  </div>

</body>