<body>
	<br>
    <br>
    <br>
        <h1 class="text-uppercase">ThinkIt!</h1> <!-- to make all letters uppercase -->
        <img src="./assets/PHOTU.jpg" alt="">
        <br>
        <br>
<form>
 <div class="form-control">
   <label for="Phone Number">Phone Number:</label>
   <input type="tel" class="form" id="Phone Number" ><br>
 </div><br>
  <div class="form-control">
   <label for="exampleInputPassword1">Password:</label> 
    <input type="password" class="form" id="exampleInputPassword1">
  </div>
  <a href="main" class="btn btn-primary">LOGIN</a>
 <p>IF YOU ARE NEW USER CLICK HERE TO
 <a href="signUp">SIGN UP</a></p>  