@import "~bootstrap-icons/font/bootstrap-icons.css";
.bi-heart-fill{ 
    color : deeppink;
}
.bi-heart-fill,.bi-heart:hover{
    cursor : pointer;
}
.x{
    color : #ccc;
}
hr{
    max-width: 300px;
}
.bi{
    display: flex;
    justify-content: center;
}