<body style="background-color: black;">
	<div class="container">
    <br>
    <br>
    <br>
        <h1 class="text-uppercase">THOUGHTSHSS</h1> <!-- to make all letters uppercase -->
        <img src={{imagePath}} />
        <br>
        <hr>
        <div class="dub">
         YOUR NAME: <input type="text" name="firstname"><br><br><!--TO INPUT TEXTS-->
         YOUR EMAIL:<input type="email" name="email" required><br><br>
         PHONE NUMBER: <input type="tel" name="phonenumber"><br><br><!--TO INPUT number-->
         PASSWORD: <input type="password" name="password" minlength="5"><br><br><!--for password'password'is used-->
        </div>
        <div class="dum">
        <h5>AFTER COMPLETING THE DETAILS CLICK ON <a href="">SIGN UP</a> </h5>
	    <input type="RESET"><br><br>
	    </div>
  </div>

</body>