<body>
<br>
<br>
<br>
    <h1 class="text-uppercase">ThinkIt!</h1> <!-- to make all letters uppercase -->
    <img src="./assets/PHOTU.jpg" alt="">
    <br>
    <br>
<form>
 <div class="form-control">
<label for="Name">Full Name:</label>
<input type="Name" class="form" id="Name" ><br>
</div><br>
<div class="form-control">
<label for="exampleInputEmail1">Email address:</label> 
<input type="email" class="form" id="exampleInputEmail1" aria-describedby="emailHelp"><br>
</div>

<br>

<div class="form-control">
<label for="Phone Number">Phone Number:</label>
<input type="tel" class="form" id="Phone Number" ><br>
</div><br>
<div class="form-control">
<label for="exampleInputPassword1">Password:</label> 
<input type="password" class="form" id="exampleInputPassword1" >
</div>

<div class="form-check">

<h2><a href="" class="btn btn-primary">Submit</a> </h2>
</div>
</form>
</body>